@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* ----- Colours ------ */


.bg-col-name-title {
    background-color: #1f1e1e;
}

.ui-menu-color-home{
    background-color: #e67e22;
}

.ui-menu-color-resume{
    background-color: #9b59b6;
}

.ui-menu-color-contact{
    background-color: #3498db;
}

.ui-menu-color-download{
    background-color: #525252;
}

.bg-color-three-reasons {
    background-color: #fff;
}

/* ----- Special margins/paddings/text ------ */

h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.bg-color-personal-info {
    background-color: #f4f4f4;
}


/* ----- Heading ------ */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/profile-pic.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    margin-left: 5px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.menu-item {
    height: 120px;
    padding: 0;
    text-align: center;
}

.menu-item a {
    width: 100%;
    height: 120px;
    text-decoration: none;
    color: #fff;
}

.menu-item a i {
    display: block;
    padding: 22px 22px 10px 22px; 
    font-size: 26px;
    color: #fafafa;
}

.menu-item span {
    display: block;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

/* ----- Hover ------ */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* ----- Footer ------ */

footer {
    background-color: #1f1e1e;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.about {
    text-align: left;
    padding-right: 20px;
}

.download {
    padding-right: 20px;
}

.cv-pdf i {
    color: #fafafa;
    text-align: center;
    padding-left: 5px ;
    font-size: 18px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
    
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    font-size: 13px;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;

}

.list-item {
    padding-bottom: 15px;
}

#footer-details {
    padding: 20px;
}

.footer-title {
    padding-top: 20px;
}

/* ----- Three Reasons ------ */

.three-reasons-icon {
    font-size: 26px;
    color: #e67e22;
    margin: 0 20px;
}

.three-reasons-heading {
    margin-bottom: 15px;
    
}

.three-reasons {

    padding: 0 30px;
}

/*---- Personal Info ----  */

.personal-info-item {
    padding-left: 30px;
}

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/* ------ Skills ----- */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 12px 30px 2px 10px;
    color: #fafafa;
}

.progress-section {
    margin: 40px 20px;
}